apiVersion: airshipit.org/v1alpha1
clusters:
  dummycluster:
    cluster-type:
      ephemeral:
        bootstrap-info: dummy_bootstrap_config
        cluster-kubeconf: dummycluster_ephemeral
contexts:
  dummy_cluster:
    context-kubeconf: dummy_cluster
    manifest: dummy_manifest
current-context: dummy_cluster
kind: Config
manifests:
  dummy_manifest:
    primary-repository-name: primary
    repositories:
      primary:
        checkout:
          branch: "master"
          force: false
          remote-ref: ""
          tag: ""
        url: {{ airship_config_primary_repo_url }}
    ## this is temporary hack, as soon as we use `document pull` command in gate process
    ## this will subpath will be airshipctl/manifests/site/test-bootstrap, as airshipctl
    ## will be primary repository
    sub-path: "manifests/site/test-bootstrap"
    target-path: {{ airship_config_manifest_directory }}
modules-config:
  bootstrapInfo:
    dummy_bootstrap_config:
      container:
        volume: {{ airship_config_iso_gen_target_path }}:/config
        image: {{ airship_config_iso_builder_docker_image }}
        containerRuntime: docker
      remoteDirect:
        remoteType: redfish
        isoUrl: http://{{ airship_config_iso_serve_host }}:{{ airship_config_iso_port }}/{{ airship_config_iso_name }}
      builder:
        userDataFileName: user-data
        networkConfigFileName: network-config
        outputMetadataFileName: output-metadata.yaml
users:
  dummy_user: {}
