apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ airship_config_ca_data }}
    server: https://{{ airship_config_ephemeral_ip }}:6443
  name: dummycluster_ephemeral
contexts:
- context:
    cluster: dummycluster_ephemeral
    user: kubernetes-admin
  name: dummy_cluster
current-context: dummy_cluster
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ airship_config_client_cert_data }}
    client-key-data: {{ airship_config_client_key_data }}