
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: phases.airshipit.org
spec:
  group: airshipit.org
  names:
    kind: Phase
    listKind: PhaseList
    plural: phases
    singular: phase
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Phase object to control deployment steps
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          config:
            description: PhaseConfig represents configuration for a particular phase.
              It contains a reference to phase runner object which should contain
              runner configuration and validation configuration
            properties:
              documentEntryPoint:
                type: string
              executorRef:
                description: ObjectReference contains enough information to let you
                  inspect or modify the referred object.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              siteWideKubeconfig:
                type: boolean
              validation:
                description: ValidationConfig represents configuration needed for
                  static validation
                properties:
                  crdList:
                    description: CRDList defines list of kustomize entrypoints located
                      in "TARGET_PATH" where to find additional CRD
                    items:
                      type: string
                    type: array
                  ignoreMissingSchemas:
                    description: IgnoreMissingSchemas skips validation for resource
                      definitions without a schema.
                    type: boolean
                  kindsToSkip:
                    description: KindsToSkip defines Kinds which will be skipped during
                      validation
                    items:
                      type: string
                    type: array
                  kubernetesVersion:
                    description: KubernetesVersion is the version of Kubernetes to
                      validate against (default "1.21.2").
                    type: string
                  schemaLocation:
                    description: SchemaLocation is the base URL from which to search
                      for schemas. It can be either a remote location or a local directory
                    type: string
                  strict:
                    description: Strict disallows additional properties not in schema
                      if set
                    type: boolean
                type: object
            required:
            - documentEntryPoint
            - executorRef
            - validation
            type: object
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
