<pool type="dir">
  <name>{{ libvirt_pool.name }}</name>
  {% if 'capacity' in libvirt_pool %}
  <capacity>{{ libvirt_pool.capacity }}</capacity>
  {% endif %}
  <target>
    <path>{{ libvirt_pool.path | default('placeholder_value') }}</path>
  </target>
</pool>